@import "assets/styles/vars";

.nutrition-post__bg {
  position: relative;
  display: block;

  &:hover .inner-type-bg {
    opacity: 1;
    background: rgba(234, 76, 35, 0.7);;
    transition: all 0.35s;

    span {

      &:before, &:after {
        visibility: visible;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }

  .inner-type-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.35s;
    text-align: center;

    span {
      font-weight: bold;
      color: #fff;
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      left: 0;
      padding: 10px 0;
      font-family: 'Play', sans-serif;
      text-transform: uppercase;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        visibility: hidden;
        transition: all 0.5s ease;
      }

      &:before {
        top: -60px;
      }

      &:after {
        bottom: -60px;
      }
    }
  }
}

.nutrition-page {
  margin-top: 50px;
  margin-bottom: 50px;

  .nutrition-posts {
    margin-bottom: 30px;

    .nutrition__icons {
      float: right;
      color: #6D6C6C;
      padding-top: 5px;

      span {
        margin-right: 5px;
      }

      i {
        margin-right: 2px;
      }
    }

    h3 {
      color: $brand-primary;
      font-family: 'Play', sans-serif;
      text-transform: capitalize;
      margin-top: 5px;
      margin-bottom: 5px;
      float: left;
    }

    h4 {
      color: $text;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
    }

    a {
      color: $yellow-link;
    }
  }

  .nutrition-posts:nth-child(4n) {
    clear: left;
  }
}


