.stats-content-wrapper {

  .exercises-stats-select {
    margin-bottom: 20px;
  }

  .select-date-range {
    text-align: right;

    @media (max-width: 1199px) {
      text-align: left;
    }

    .inline-wrapper {
      display: inline-block;
      text-align: left;
    }

    span.select-date-line {
      margin-left: 20px;
      margin-right: 10px;
    }
  }

  .panel-title-wrapper {
    padding-top: 15px;
  }

  .refresh-chart-wrapper {
    text-align: right;

    @media (max-width: 1199px) {
      text-align: left;
    }
  }
}
