.likes__wrapper
  md-button.md-icon-button.md-accent aria-label="Favorite" ng-click="clicked()"
    i.fa ng-class="{'fa-heart-o': !userLiked, 'fa-heart': userLiked}"
  span.likes_count.text-muted {{resource.likes_count}}
