.col-sm-6.exercises-img__container.video
  a ui-sref="app.inner-layout.exercise({id: exercise.id})"
    img.img-responsive ng-src="{{exercise.image.auto_generated}}"
    i.fa.fa-play-circle.play-icon-small
