@import "assets/styles/vars";

.post-page {
  padding-top: 30px;
  padding-bottom: 50px;

  .post-video__title {
    margin-top: 10px;
    border-bottom: 5px solid whitesmoke;

    h2 {
      float: left;
    }

    .post-likes__video-wrapper {
      display: inline-block;
      float: right;
      position: relative;
      top: -7px;
    }
  }

  .post-head__header {

    h5 {
      font-size: 18px;
      font-style: italic;
      color: $text;
      font-family: 'Open Sans', sans-serif;
    }

    h2 {
      margin-top: 0;
      text-transform: uppercase;
      color: $header-grey;
      font-family: 'PT Sans Caption', sans-serif;
      font-size: 24px;
      font-weight: bold;
      position: relative;
      margin-bottom: 15px;
      display: block;
      padding-bottom: 5px;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30px;
        height: 3px;
        background: $brand-primary;
      }
    }
  }

  .post_body {
    margin-top: 20px;

    p {
      font-size: 18px;
      color: $text;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .post_main__img {
    position: relative;

    .post-likes__wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      padding-right: 15px;
    }
  }
}
