.exercise-img__container
  img.img-responsive ng-src="{{exercise.image.origin}}"
  .post-likes__wrapper
    likes target-type="exercise" current-user="currentUser" resource="exercise" user-liked="userLiked"
