@import "assets/styles/vars";

#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: asset_url('assets/first-page-images/main.jpg') no-repeat 50% 0;
  background-size: cover;
  z-index: 1000;
  visibility:visible;
  opacity:1;
  transition-delay:0s;
  height: auto;
  display: flex;
  align-items: center;

  &.hideLoader {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
  }

  spinner {
    margin: 0 auto;
  }

  .sk-cube-grid {
    margin: 0;
  }
}

section .rn-carousel-control {

  &.rn-carousel-control-prev {

    &:before {
      content: '\e079';
      font: normal normal normal 30px/1 Glyphicons Halflings;
      text-rendering: auto;

    }
  }

  &.rn-carousel-control-next {

    &:before {
      content: '\e080';
      font: normal normal normal 30px/1 Glyphicons Halflings;
      text-rendering: auto;
    }
  }
}

.main-page__service {
  padding-top: 50px;
  padding-bottom: 50px;

  .service-slider__wrapper {
    position: relative;
  }

  .page-rules__who-i {
    padding-left: 15px;
    margin-bottom: 65px;
  }

  ul[rn-carousel] {
    height: 400px;
    margin: 0 auto;
    text-align: center;

    h3 {
      font-family: 'PT Sans Caption', sans-serif;
      color: #848484;
    }

    hr {
      border-top: 3px solid #ea4c23;
      width: 150px;
      margin-bottom: 20px;
    }
  }

  .service-slider__wrapper {

    .rn-carousel-control {
      top: 50%;
    }
  }

  .slider-img img {
    max-height: 350px;
    margin: 0 auto;
    pointer-events: none;
  }
}

.anchorScroll {
  opacity: 0;
  position: fixed;
  right: 25px;
  bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  z-index: 30;
  text-decoration: none;
  transition: opacity 0.5s linear;

  &:focus {
    text-decoration: none;
    outline: none;
  }

  &:hover {
    background: rgba(224, 224, 224, 0.25);
  }

  >i {
    color: #BDBDBD;
    font-size: 24px;
  }
}

.anchor__active {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.main-page__background {
  overflow: hidden;
}

.main-page__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
  width: 100%;
  background: asset_url('assets/first-page-images/main.jpg') no-repeat 50% 0;
  background-size: cover;
  text-align: center;

  li.active>a{
    color: $brand-primary;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 10px 15px;

      a {
        color: #fff;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Play', sans-serif;
      }
    }
  }

  .main-text__brand {
    color: #fff;
    position: relative;
    top: 30%;

    h1, h2, h3 {
      text-transform: uppercase;
      font-family: 'PT Sans Caption', sans-serif;
    }

    h1 { font-size: 75px; }
    h2 { font-size: 36px; }
    h3 { font-size: 55px; }
  }

  .main-header__login {
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;

    a {
      font-family: 'Play', sans-serif;
      color: #fff;

      &:last-child {
        padding-left: 10px;
        border-left: 1px solid #fff;
        box-sizing: border-box;
      }

      &:first-child {
        padding-right: 10px;
      }
    }
  }
}

span.brand-color {
  color: $brand-primary;
}

.page-rules__who-i, .page-rules__rule {
  padding-bottom: 10px;
}

section  {
  color: $text;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-rules__who-i {
  padding-top: 10px;
  border-left: 5px solid $brand-primary;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  font-family: 'PT Sans Caption', sans-serif;
}

.page-rules__rule {
  padding-top: 15px;

  h3 {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
  }

  &>span {
    margin-top: 13px;
    font-size: 14px;
    font-style: italic;
    color: #888;
    line-height: 23px;
    letter-spacing: .8px;
  }
}

.rules__description {
  padding-bottom: 30px;
}

section.main-page__rules {

  .page__main-rules {
    background-color: #F6F6F6;
    padding: 50px;

    p {
      font-family: 'Open Sans', sans-serif;
    }

    ul {
      list-style: none;

      li {
        margin-top: 10px;

        .rules-content {
          margin-top: 48px;
          padding-left: 50px;

          h5 {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-family: 'Play', sans-serif;
          }

          span {
            font-family: 'Open Sans', sans-serif;
          }
        }
      }

      li>span {
        font-size: 24px;
        float: left;
        color: $brand-primary;
        font-family: 'PT Sans Caption', sans-serif;

        &:after {
          content: '-';
          padding-left: 5px;
        }
      }
    }
  }
}

.next-events__wrapper {
  padding-top: 50px;
  margin: 0 auto;
}

.main__next-events {
  text-transform: uppercase;
  border-left: 5px solid $brand-primary;
  padding: 5px 10px;
  font-size: 24px;
  font-family: 'PT Sans Caption', sans-serif;
}

.main__next-events-description {
  font-style: italic;
  color: #C8C8C8;
  padding: 20px 15px;
  font-family: 'Open Sans', sans-serif;
}

.main-page__events {
  background: asset_url('assets/first-page-images/events.jpg') no-repeat;
  background-size: cover;
  color: #fff;

  .event__field-wrap {
    background: #2C4665;
    border-bottom: 1px solid #677A8A;
    padding: 28px 25px;
    cursor: pointer;
    height: 33.3333%;
    font-family: 'Play', sans-serif;
  }

  .event__field-wrap:last-child {
    border-bottom: none;
  }

  .events__wrap>.active {
    background: $brand-primary;
  }

  .events__wrap {
    height: 400px;
  }

  .wrap-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.3;
  }

  .event-time__wrapper {
    overflow: hidden;
  }

  .event-timer {
    text-align: center;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 50%; left: 0; right: 0;

    timer {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.main-page__popular_types {
  background: #f8f8f8;
}

.type_wrapper_bg {
  position: relative;
  margin-bottom: 20px;

  &:hover .inner-type-bg {
    opacity: 0.7;
    transition: all 0.35s;
  }
}

.inner-type-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $brand-primary;
  opacity: 0;
  transition: all 0.35s;
}

.main-line-images {

  .line_wrapper_bg {
    position: relative;
    float: left;
    width: 16.6666%;
    cursor: pointer;

    &:hover .inner-type-bg {
      opacity: 0.7;
      transition: all 0.35s;
    }

    @media (max-width: 975px) {
      width: 33.3333%;
    }

    @media (max-width: 600px) {
      width: 50%;
    }
  }
}

.main-page__reviews {
  background: asset_url("assets/first-page-images/reviews.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  position: relative;

  .inner-bg__reviews {
    min-height: 460px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;

    .carousel-block {
      position: relative;

      ul {
        height: 300px;
      }

      img {
        display: block;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        overflow: hidden;
        margin: 0 auto;
        border: 3px solid #fff;
      }
    }
  }

  .reviews-header__wrapper {
    padding-top: 55px;
  }
}

.our-trainer__information {

  .our-trainer__blocks {
    margin-top: 50px;

    .img-circle {
      border-radius: 50%;
      border: 1px solid whitesmoke;
      float: left;
      display: inline-block;
      overflow: hidden;
      margin-right: 20px;
    }

    .block_description {

      h4 {
        padding: 0;
        text-transform: uppercase;
        font-size: 13px;
        color: #222;
        letter-spacing: .7px;
      }

      span {
        padding-top: 2px;
        letter-spacing: 3.2px;
        text-transform: none;
        font-style: italic;
      }

      p {
        padding-top: 20px;
        font-size: 13px;
        color: #888;
        line-height: 23px;
        letter-spacing: 0.6px;
      }
    }
  }
}

.main-page__video-training {
  background: asset_url("assets/first-page-images/bg-video.jpg") no-repeat fixed;
  background-size: cover;

  .video-training_wrapper {
    text-align: center;
    height: 300px;
    color: #fff;
  }
}

.news-img__wrapper {
  border-bottom: 5px solid $brand-primary;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  img {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4em;
    transform: translateX(-50%) translateY(-50%);
    color: #ea4c23;

    &:after {
      content: '';
      background-color: #fff;
      position: absolute;
      top: 20%;
      left: 20%;
      width: 65%;
      height: 55%;
      z-index: -1;
    }
  }
}

.news-inform {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 5px;

  .news-date {
    width: 80px;
    height: 40px;
    background: $brand-primary;
    float: left;
    margin-top: -1px;
    text-align: center;
    color: #fff;
  }

  .news-edit {
    float: right;
    padding-top: 10px;

    span, i {
      margin-right: 5px;
    }
  }
}

.news-description {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-top: none;
  height: 138px;
  overflow: hidden;
}

.main-page__price {
  background: #f8f8f8;
}

.price-wrapper {
  margin-top: 30px;
  border: 3px solid #E1E1E1;
  text-align: center;
  padding: 35px 25px;
  text-transform: uppercase;
  color: black;
  background: #fff;
  transition: all .2s ease-in-out;
  font-family: 'Play', sans-serif;

  .price-include {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  button.btn-primary {
    margin-top: 30px;
    color: black;
    border: 1px solid black;

    &:hover {
      color: #fff;
    }
  }

  h5 {
    font-weight: bold;
    color: $text;
  }

  p {
    margin-top: 10px;
  }

  &:hover {
    border: 3px solid $brand-primary;
    transition: all .2s ease-in-out;
  }
}

.red-border {
  margin-top: 10px;
  border: 3px solid $brand-primary;
  padding: 55px 25px;
}

.main-page__location {
  background: #000000;
}

.location-information {
  background: #000000;
  color: #fff;
  padding-top: 5%;
  padding-left: 7%;
  padding-bottom: 3%;
  font-family: 'Open Sans', sans-serif;

  h2 {
    margin-top: 0;
    font-family: 'PT Sans Caption', sans-serif;
  }

  i {
    color: $brand-primary;
    margin-right: 15px;
  }
}

.main-page__footer {
  padding-top: 50px;

  .footer_social {
    margin-top: 30px;
    padding-bottom: 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        padding: 15px 10px;

        a {
          text-transform: uppercase;
          color: $text;
          font-weight: bold;
          font-family: 'Play', sans-serif;
        }
      }
    }
  }

  .footer_copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    color: $text;
  }
}

@media (max-width: 768px) {
  .red-border {
    margin-top: 30px;
  }
}
