.main-page__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
  width: 100%;
  background: url('../../assets/first-page-images/main.jpg') no-repeat 50% 0;
  background-size: cover;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 10px 15px;

      a {
        color: #fff;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .main-text__brand {
    color: #fff;
    position: relative;
    top: 30%;

    h1, h2, h3 {
      text-transform: uppercase;
    }

    h1 { font-size: 75px; }
    h2 { font-size: 36px; }
    h3 { font-size: 55px; }
  }
}

span.brand-color {
  color: #ea4c23;
}

.page-rules__who-i, .page-rules__rule {
  padding-bottom: 10px;
}

section  {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

section.main-page__rules {

  .page-rules__who-i {
    padding-top: 10px;
    border-left: 5px solid #ea4c23;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }

  .page-rules__rule {
    font-size: 22px;
    font-style: italic;
  }

  .rules__description {
    padding-bottom: 50px;
  }

  .page__main-rules {
    background-color: #F6F6F6;
    padding: 50px;

    ul {
      list-style: none;

      li {
        margin-top: 10px;

        .rules-content {
          margin-top: 48px;
          padding-left: 50px;

          h5 {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
          }
        }
      }

      li>span {
        font-size: 24px;
        float: left;
        color: #ea4c23;

        &:after {
          content: '-';
          padding-left: 5px;
        }
      }
    }
  }
}

.main-page__events {
  background: url('../../assets/first-page-images/events.jpg') no-repeat;
  background-size: cover;
  color: #fff;

  .next-events__wrapper {
    padding-top: 50px;
    margin: 0 auto;
  }

  .main__next-events {
    text-transform: uppercase;
    border-left: 5px solid #ea4c23;
    padding: 5px 10px;
    font-size: 24px;
  }

  .main__next-events-description {
    font-style: italic;
    color: #C8C8C8;
    padding: 20px 15px;
  }

  .event__field-wrap {
    background: #2C4665;
    border-bottom: 1px solid #677A8A;
    padding: 28px 25px;
    cursor: pointer;
  }

  .event__field-wrap:last-child {
    border-bottom: none;
  }

  .events__wrap>.active {
    background: #ea4c23;
  }

  .wrap-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.3;
  }

  .event-time__wrapper {
    overflow: hidden;
  }

  .event-timer {
    text-align: center;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 50%; left: 0; right: 0;

    timer {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
